<header class="bg-gray-900 text-white flex items-center justify-between px-6 py-3 shadow-md">
  <div class="flex items-center space-x-3">
    <!-- Botón hamburguesa visible solo en móvil -->
    <button 
      @click="sidebarOpen = !sidebarOpen"
      class="lg:hidden focus:outline-none"
    >
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
        viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </button>

    <img src="media/UGR-logo-negative.png" alt="Logo" class="max-w-[60px] max-h-[60px]">
    <span class="text-lg font-semibold text-2xl">Matrix Panel</span>
  </div>

  <form action="{% url 'logout' %}" method="post" class="m-0">
    {% csrf_token %}
    <button type="submit" class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded-md transition">
        Cerrar sesión
    </button>
  </form>

</header>
